body {
 background-image: url(imagens/mipagi.png);
 color:white;
 text-align: center;
 font-family: avenir;
 background-size: cover;

}
  	
  h1 {
  	font-size: 60px;
  	text-font: avenir;
  	color: white;
  	rgba:255, 13, 50%;
  	padding-top: 200px;
  	margin-botton:100px;
  	text-shadow: 2px 2px 2px grey;
  	box-shadow: 10px; 10px; 10px; orange;

  	}

 h3 {
	font-size: 30px;
	text-font: avenir;
	font-weight: bold;
	font-stretch: 30px;
	font-weight:lighter; 
	color: white;
	line-height: 5px;


	
 h4 {
	font-size: 30px;
	text-font: avenir;
	color: white;
	font-weight: bold;
	font-family: avenir
				}

h5 {
	font-size: 40px;
	color: black;
	text-font: avenir;
	border-radius: 15px;
	padding: 5px 15px 10px 15px;
	
			
}


